numpy>=2.2.0
-e git+ssh://git@github.com/stat-ml/multidimensional_uncertainty.git@8cbe259d5756caca5c719b1caac41c535869ddf7#egg=multidimensional_uncertainty

torch>=2.9.0
torchvision>=0.24.0
scipy>=1.15.0
scikit-learn>=1.7.0
pandas>=2.3.0
matplotlib>=3.10.0
seaborn>=0.13.0
POT>=0.9.6

tqdm>=4.67.0
hydra-core>=1.3.0
omegaconf>=2.3.0